<?xml version='1.0' encoding='utf-8'?>
<robot name="motor35_wheelfoot">
  <link name="base_Link">
    <inertial>
      <origin xyz="-0.014056 0.002323 0.019913" rpy="0 0 0" />
      <mass value="1.158" />
      <inertia ixx="0.002739820" ixy="0.000051133" ixz="-0.000279755" iyy="0.002376987" iyz="-0.000091341" izz="0.002553495" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="abad_R_Link">
    <inertial>
      <origin xyz="0.042325 -0.019359 0.000364" rpy="0 0 0" />
      <mass value="0.208" />
      <inertia ixx="0.000070318" ixy="0.000025685" ixz="-0.000000486" iyy="0.000096423" iyz="0.000001164" izz="0.000103262" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/link_hip_R.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/link_hip_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="abad_R_Joint" type="revolute">
    <origin xyz="-0.0242 -0.034 -0.02625" rpy="0 0 0" />
    <parent link="base_Link" />
    <child link="abad_R_Link" />
    <axis xyz="-1 0 0" />
    <limit lower="-0.9" upper="0.8" effort="3" velocity="48.171087" />
  </joint>
  <link name="hip_R_Link">
    <inertial>
      <origin xyz="-0.086236 -0.038633 -0.015273" rpy="0 0 0" />
      <mass value="0.209" />
      <inertia ixx="0.000102034" ixy="-0.000057734" ixz="-0.000032812" iyy="0.000246195" iyz="-0.000010452" izz="0.000275360" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/link_thigh_R.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/link_thigh_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="hip_R_Joint" type="revolute">
    <origin xyz="0.04825 -0.0228 0" rpy="0 0 0" />
    <parent link="abad_R_Link" />
    <child link="hip_R_Link" />
    <axis xyz="0 -1 0" />
    <limit lower="0" upper="1.38" effort="3" velocity="48.171087" />
  </joint>
  <link name="knee_R_Link">
    <inertial>
      <origin xyz="0.083610977 0.018776 -0.043777420" rpy="0 0 0" />
      <mass value="0.203" />
      <inertia ixx="0.000111447" ixy="-0.000042941" ixz="0.000089151" iyy="0.000289085" iyz="0.000022486" izz="0.000235036" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/Link_calf_R.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/Link_calf_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="knee_R_Joint" type="revolute">
    <origin xyz="-0.0984349768784425 -0.048099999999999 -0.0176225800307585" rpy="0 0 0" />
    <parent link="hip_R_Link" />
    <child link="knee_R_Link" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="2.65" effort="3" velocity="48.171087" />
  </joint>
  <link name="wheel_R_Link">
    <inertial>
      <origin xyz="0 0.012410 0" rpy="0 0 0" />
      <mass value="0.102" />
      <inertia ixx="0.000054104" ixy="0" ixz="0" iyy="0.000093950" iyz="0" izz="0.000054104" />
    </inertial>
    <visual>
      <origin xyz="0 0.01 0" rpy="1.570796326795 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.032" />
      </geometry>
      <material name="">
        <color rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.01 0" rpy="1.570796326795 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.032" />
      </geometry>
    </collision>
  </link>
  <joint name="wheel_R_Joint" type="continuous">
    <origin xyz="0.0974505224847362 0.0229999999999967 -0.0510234815300931" rpy="0 0 0" />
    <parent link="knee_R_Link" />
    <child link="wheel_R_Link" />
    <axis xyz="0 1 0" />
    <limit effort="3" velocity="48.171087" />
  </joint>
  <link name="abad_L_Link">
    <inertial>
      <origin xyz="0.042503 0.019415 0.000425" rpy="0 0 0" />
      <mass value="0.209" />
      <inertia ixx="0.000070742" ixy="-0.000026261" ixz="-0.000000159" iyy="0.000097209" iyz="-0.000001238" izz="0.000104437" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/Link_hip_L.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/Link_hip_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="abad_L_Joint" type="revolute">
    <origin xyz="-0.0242 0.034 -0.02625" rpy="0 0 0" />
    <parent link="base_Link" />
    <child link="abad_L_Link" />
    <axis xyz="-1 0 0" />
    <limit lower="-0.8" upper="0.9" effort="3" velocity="48.171087" />
  </joint>
  <link name="hip_L_Link">
    <inertial>
      <origin xyz="-0.085856 0.037684 -0.015013" rpy="0 0 0" />
      <mass value="0.218" />
      <inertia ixx="0.000110037" ixy="0.000059357" ixz="-0.000035353" iyy="0.000261180" iyz="0.000010893" izz="0.000293329" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/Link_thigh_L.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/Link_thigh_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="hip_L_Joint" type="revolute">
    <origin xyz="0.04825 0.0228 0" rpy="0 0 0" />
    <parent link="abad_L_Link" />
    <child link="hip_L_Link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.38" upper="0" effort="3" velocity="48.171087" />
  </joint>
  <link name="knee_L_Link">
    <inertial>
      <origin xyz="0.080280977 -0.018007 -0.042034420" rpy="0 0 0" />
      <mass value="0.212" />
      <inertia ixx="0.000130867" ixy="0.000056005" ixz="0.000118748" iyy="0.000362347" iyz="-0.000029321" izz="0.000295496" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/Link_calf_L.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="motor35_meshes/Link_calf_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="knee_L_Joint" type="revolute">
    <origin xyz="-0.0984349768784346 0.0481 -0.0176225800307687" rpy="0 0 0" />
    <parent link="hip_L_Link" />
    <child link="knee_L_Link" />
    <axis xyz="0 -1 0" />
    <limit lower="-2.65" upper="0" effort="3" velocity="48.171087" />
  </joint>
  <link name="wheel_L_Link">
    <inertial>
      <origin xyz="0 -0.012410 0" rpy="0 0 0" />
      <mass value="0.102" />
      <inertia ixx="0.000054104" ixy="0" ixz="0" iyy="0.000093950" iyz="0" izz="0.000054104" />
    </inertial>
    <visual>
      <origin xyz="0 -0.01 0" rpy="1.570796326795 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.032" />
      </geometry>
      <material name="">
        <color rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.01 0" rpy="1.570796326795 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.032" />
      </geometry>
    </collision>
  </link>
  <joint name="wheel_L_Joint" type="continuous">
    <origin xyz="0.0974505224847294 -0.023 -0.0510234815300838" rpy="0 0 0" />
    <parent link="knee_L_Link" />
    <child link="wheel_L_Link" />
    <axis xyz="0 -1 0" />
    <limit effort="3" velocity="48.171087" />
  </joint>
</robot>